
.blue {
  color: yellow;
}
.green {
  color: green;
}
.red {
  color: red;
}

#button1 {
  background-color: green;

}
#button2 {
  background-color: green;

}
#button3 {
  background-color: green;

}
#button4 {
  background-color: red;

}
#button5 {
  background-color: red;

}
#button6 {
  background-color: red;

}
#button7 {
  background-color: yellow;

}
#button8 {
  background-color: yellow;

}
#button9 {
  background-color: yellow;

}
